* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height:100%;
  font: 400 20px Futura book;
  font-family: Futura book, sans-serif;
}

.wrapper {
  width: 100%;
}

main {
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100px;
  height: 30px;
  right: 5%;
  bottom: 20px;
}

.button-back {
  height: 30px;
  background-color: #b99403;
  width: 100px;
}

ul {
  list-style-type: none;
}

.block-header {
  padding-left: 84px;
  padding-top: 24px;
  display: flex;
  min-height: 60px;
  align-items: baseline;
  background-color: #131313;
  font-family: FuturaDemiC, sans-serif;
}

.block-header__logo {
  display: flex;
  width: 15%;
  color: #e3b873;
  text-align: center;
  font-size: 6px;
  flex-direction: row;
}

.block-header__logo:hover {
  color: #fdcb7a;
  cursor: pointer;
}

.block-header__nav {
  display: flex;
  color: #fff;
  width: 53%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  flex-direction: row;
}

.block-header__nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 0;
  justify-content: space-around;
}

.block-header__nav__item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.block-header__nav__item:hover {
  color: #e3b873;
  cursor: pointer;
}

.block-header__tel {
  width: 10%;
  padding-left: 36px;
}

.block-header__tel a{
  color: #e3b873;
  font-size: 12px;
}

.block-header__button {
  min-height: 39px;
  display: flex;
  justify-content: space-around;
}

.block-header__button input{
  border: none;
  width: 150px;
  height: 35px;
  background-color: #e3b873;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}

.block-header__button input:hover {
  background-color: #fdcb7a;
}

.block-app {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: url("assets/images/block-header-img.png") no-repeat;
  background-size: cover;
  align-items: center;
  min-height: 708px;
}

.block-app__instagram {
  background-color: #131313;
  width: 83px;
  height: 707px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-app__instagram a {
  display: flex;
  height: 36px;
  color: #e3b873;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.block-app__instagram a span:nth-child(2){
  margin-left: 10px;
  height: 20px;
  margin-bottom: 12px;
}

.block-app__instagram a:hover {
  color: #fdcb7a;
  cursor: pointer;
 }

.block-app__application {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  width: 45%;
  color: #fff;
  height: 90%;
}

.block-app__application p:nth-child(1),
.block-app__application p:nth-child(2) {
  font-size: 40px;
  font-family: Yeseva One;
}

.block-app__application p:nth-child(3) {
  margin: 40px 0;
  font-size: 20px;
  line-height: 1.5rem;
  width: 66%;
}

.block-app__application p:nth-child(2) span:nth-child(2){
  color: #e3b873;  
}

.block-app__application__inputs {
  display: flex;  
  justify-content: space-between;
  width: 66%;
}

.block-app__application__inputs input{
  font-size: 12px;
  height: 44px;
  width: 47%;
  justify-content: space-around;
  border: none;
  background-color: #e3b873;
  color: #fff;
}

.block-app__application__inputs input:nth-child(2) {
  background: none;
  border: 1px solid #fff;
}

.block-app__application__inputs input:hover {
  background: #fdcb7a;
}

.block-app__application__inputs input:nth-child(2):hover {
  background: #454542;
}

.button-mobile {
  display: none;
}

.block-scroll {
  background-color: #131313;
  width: 240px;
  height: 83px;
  position: absolute;
  top: 752px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.block-scroll span {
  display: inline-block;
  width: 110px;
  font-family: Yeseva One, sans-serif;
}

.block-scroll svg:hover {
  cursor: pointer;
}

.block-next {
  background-color: #131313;
  display: flex;
  width: 100%;
  padding-top: 130px;
  color: #fff;
  min-height: 686px;
}

.block-next__text {
  width: 28%;
  padding: 65px 60px 0 83px;
}

.block-next__text__first,
.block-next__text__svg p:nth-child(1) {
  font-size: 30px;
  color: #e3b873;
  font-family: Yeseva One, sans-serif;
}

.block-next__text__svg {
  display: flex;
  align-items: center; 
}

.block-next__text__svg img {
  padding-left: 30px;
}

.block-next__text__last {
  font-size: 14px;
  padding: 20px 0 50px 0;
  line-height: 1.5rem;
}

.block-next__text__list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.block-next__text__list__item {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  width: 49%;
  min-height: 118px;
}

.block-next__text__list__item p:nth-child(1) {
  font-size: 17px;
  padding-bottom: 10px;
  color: #e3b873;
  font-family: Yeseva One, sans-serif;
}

.block-next__text_slider-button {
  display: flex;
  width: 53%;
  justify-content: space-between;
  align-items: center;
  padding-top: 9%;
}

.block-next__text_slider-button img:first-child:hover,
.block-next__text_slider-button img:last-child:hover {
  cursor: pointer;
}

.block-next__item {
  width: 66%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.block-next__item__nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  padding-left: 20px;
  justify-content: space-between;
  padding-bottom: 40px;
}

.block-next__item__nav__list {
  display: flex;
  font-size: 14px;
  font-family: Yeseva One, sans-serif;
}

.block-next__item__nav__list a:hover { 
  color: #e3b873;
  cursor: pointer;
  text-decoration: underline;
}

.block-next__item__slider {  
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.block-next__item__slider__block-svg {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 44%;
  left: 86%;
  width: 10%;
}

.block-next__item__slider__block-svg img:nth-child(1) {
  display: none;
}

.block-next__item__slider__block-svg img:hover {
  cursor: pointer;
}

.block-next__item__slider-mob__content {
  display: none;
}

.block-next__item__slider__content {
  display: flex;
  width: 160%;
}

.block-next__item__slider__content div {
  width: 100%;
  margin: 10px 0 0 20px;
}

.block-next__item__slider__content div img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  overflow: hidden;
}

.block-video {
  background: linear-gradient(to top, #fff 50%, #131313 50%);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;  
  font-family: Yeseva One, sans-serif;
  height: auto;
}

.block-video__block-svg {
  display: flex;
  padding: 20px 0 40px 0;
  justify-content: space-between;
  align-items: center;
}

.block-video__iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 33.25%;
  width: 60%;
  margin-bottom: 2%;
}

.block-video__iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.block-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content:center;
}

.block-form img{
  padding: 40px 0 30px 0;
}

.block-form p {
  font-size: 15px;
  text-align: center;
  width: 40%;
  line-height: 28px;
}

.block-form__inputs {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.block-form__inputs__texts {
  display: flex;
  width: 56%;
  align-items: flex-end;
  justify-content: space-between;
}

.block-form__inputs__texts__item {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.block-form__inputs__texts__item label {
  color: #bababa;
  font-size: 12px;
  
}

.block-form__inputs__texts input[type="text"] {
  border: none;
  border-bottom: 1px solid #bababa;
  height: 25px;
  font-size: 16px;
}

.block-form__inputs__texts__item input::-webkit-input-placeholder {
  color: #000;
}

.block-form__inputs__texts__item input:-moz-placeholder {
  color: #000;
  opacity: 1;
}

.block-form__inputs__texts__item input::-ms-input-placeholder {
  color: #000;
}

.block-form__inputs__button {
  border: none;
  width: 173px;
  height: 42px;
  background-color: #e3b873;
  color: #fff;
}

.block-form__inputs__checkbox {
  padding: 30px 0 120px 0;
}

.block-form__inputs__checkbox label {
  font-size: 15px;
}

.block-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
}

.block-column__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Yeseva One, sans-serif;
}

.block-column__title img {
  padding: 20px 0 40px 0;
}

.block-column__wrap {
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-column__item {
  width: 32%;
  min-height: 607px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.block-column__item:nth-child(1) {
  background: #fff url(assets/images/block-column-img1.png) no-repeat top;
}

.block-column__item:nth-child(2) {
  background: #fff url(assets/images/block-column-img2.png) no-repeat top;
}

.block-column__item:nth-child(3) {
  background: #fff url(assets/images/block-column-img3.png) no-repeat top;
}

.block-column__item__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 
  background-color: #fff;
  width: 84%;
  padding-top: 20px;
}

.block-column__item__wrap span {
  display: inline-block;
  background-color: #e3b873;
  color: #fff;
  padding: 20px;
  font-family: Yeseva One, sans-serif;
}

.block-column__item__wrap p {
  padding-left: 23px;
  font-family: Yeseva One, sans-serif;
}

.block-column__item__list {
  list-style-type: disc;
  width: 80%;
  padding: 10px 0 20px 40px;
  color: #bababa;
  line-height: 25px;
  font-size: 13px;
}

.block-circle-form {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 120px 0 80px 0;
}

.block-circle-form__circle {
  width: 58%;
}

.block-circle-form__circle__item {
  width: 620px;
  height: 620px;
  border-radius: 50%;
  background: url(assets/images/backgr-circle.png)  no-repeat top,
  			  linear-gradient(#fff, #fff) padding-box,
              linear-gradient(to right ,#fff 0%, #fff 20%, #fff 20%, #e3b873 100%) border-box;
  border: 3px solid transparent; 
  margin-left: -137px; 
}

.block-circle-form__circle__item-disk {
  display: flex;
  padding-top: 60px;
  position: absolute; 
  width: 30%;
  
}

.block-circle-form__circle__item-disk p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 15px;  
}

.block-circle-form__circle__item-disk p span {
  position: absolute;
  top: 16px;
  left: 16px;
  color: #ffffff;
  font-family: Yeseva One, sans-serif;
  font-size: 20px;
}

.block-circle-form__circle__item-disk:nth-child(1) {
  margin-left: 363px;
  width: 30%;
}

.block-circle-form__circle__item-disk:nth-child(2) {
  margin-left: 444px;
  margin-top: 130px;
  width: 20%;
}

.block-circle-form__circle__item-disk:nth-child(3) {
  margin-left: 455px;
  margin-top: 275px;
  width: 20%;
}

.block-circle-form__circle__item-disk:nth-child(4) {
  margin-left: 394px;
  margin-top: 413px;
  width: 20%;
}

.block-circle-form__wrap {
  width: 35%; 
  margin-top: 29px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.block-circle-form__form {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
  background-color: #131313;
  color: #fff;
}

.block-circle-form__form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  line-height: 1.5;
}

.block-circle-form__form__item {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 37px;
  padding-left: 10%;
  line-height: 2;
}

.block-circle-form__form__item label {
  color: #bababa;
  font-size: 12px;
}

.block-circle-form__form__item input[type="text"],
.block-circle-form__form__item input[type="email"] {
  border: none;
  border-bottom: 1px solid #bababa;
  background-color: #131313;
  font-size: 16px;
      height: 28px;
}

.block-circle-form__form__item input[type="text"]::-webkit-input-placeholder,
.block-circle-form__form__item input[type="email"]::-webkit-input-placeholder {
  color: #fff;
}

.block-circle-form__form__button {
  border: none;
  width: 46%;
  height: 56px;
  background-color: #e3b873;
  color: #fff;
  margin: 20px 0 6% 44%;
}

.block-circle-form__form__checkbox {
  padding: 20px 0;
  color: #fff;
  padding-left: 10%;
}

.block-circle-form__form__checkbox label {
  font-size: 16px;
}

.block-circle-form__form__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  font-size: 16px;
  color: #E3B873;
  margin: 30px 0 0 10px;
}

.block-circle-form__form__svg p {
  margin-bottom: 15px;
}

.block-high-img {
  display: flex;
  width: 100%;
  background: #fff url(assets/images/block-high-img.png)  0 60% no-repeat;
} 
 

.block-high-img__choice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 
  width: 35%;
  padding: 50px 0 0 80px;
}

.block-high-img__choice p {
  color: #e3b873;
  font-size: 25px;
  line-height: 1.4;
  font-family: Yeseva One, sans-serif;
} 

.block-high-img__choice_list {
  color: #fff;
  padding-top: 25px;
  font-size: 17px;
}

.block-high-img__choice_list_item {
  padding-top: 30px;
}

.block-high-img__choice_list_item a:hover {
  color: #fdcb7a;
  cursor: pointer;
  text-decoration: underline;
}  

.block-high-img__images {
  display: flex;
  width: 59%;
}

.block-high-img__images__slider {
  display: none;	
}

.block-high-img__images__first-col,
.block-high-img__images__second-col {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-high-img__images__first-col img,
.block-high-img__images__second-col img{
  width: 100%;
      padding-bottom: 45px;
}

.block-high-img__images__first-col {
  margin: 80px 47px 0 0; 
}

.block-column-diff {
  background: linear-gradient(to top, #131313 50%, #fff 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  padding-top: 90px;
  position: relative;  
}

.block-column-diff__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;  
}

.block-column-diff__title img {
  padding: 20px 0;
}

.block-column-diff__title h2 {
  font-family: Yeseva One, sans-serif;
}

.block-column-diff__title p {
  font-size: 15px;
  line-height: 1.7;
}

.block-column-diff__wrap {
  width: 86%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.block-column-diff__item {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30%;
}  

.block-column-diff__item:nth-child(1) {
  background: url(assets/images/block-column-img1.png) no-repeat top;
}

.block-column-diff__item:nth-child(2) {
  background: url(assets/images/block-column-img3.png) no-repeat top;
}

.block-column-diff__item:nth-child(3) {
  background: url(assets/images/block-column-img4.png) no-repeat top;
}

.block-column-diff__item__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 
  background-color: #fff;
  width: 80%;
  padding: 20px 0;
  margin-left: 10%;
}

.block-column-diff__item span {
  display: inline-block;
  width: 50%;
  background-color: #e3b873;
  color: #fff;
  font-family: Yeseva One, sans-serif;  
  margin: -20px 0 0 39px;
  padding: 15px 15px 15px 25px; 
}

.block-column-diff__item__wrap p {
  padding-left: 25px;
  font-family: Yeseva One, sans-serif;
}

.block-column-diff__item__list {
  list-style-type: disc;
  width: 80%;
  padding: 10px 0 30px 40px;
  color: #bababa;
  font-size: 12px;
  line-height: 2;
}

.block-column-diff span {
  color: #fff;
}

.block-column-diff__last-item {
  font-size: 15px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 102px;
}

.block-choice {
  background-color: #131313;
  display: flex;
  width: 100%;
  color: #fff;
}

.block-choice__text {
  width: 27%;
  padding: 30px 150px 50px 100px;
  font-family: Yeseva One, sans-serif;
}

.block-choice__text__first,
.block-choice__text__svg p:nth-child(1) {
  font-size: 30px;
  color: #e3b873;
}

.block-choice__text__svg {
  display: flex;
  align-items: center; 
  padding-bottom: 100px;
}

.block-choice__text__svg img {
  padding-left: 30px;
}

.block-choice__text p:nth-child(3) {
  padding-bottom: 20px;
}

.block-choice__text p:nth-child(4), 
.block-choice__text p:nth-child(5) {
  color: #e3b873;
}

.block-choice__text p:nth-child(5) {
  padding-bottom: 10px;
}

.block-choice__text__last {
  font-size: 14px;
  padding: 10px 0 20px 0;
  line-height: 1.7rem;
  font-family: Futura book, sans-serif;
}

.block-choice__text__slider-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
  width: 80%;
}

.block-choice__text__slider-button img:first-child:hover,
.block-choice__text__slider-button img:last-child:hover {
  cursor: pointer;
}

.block-choice__item {
  width: 59%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 87px;
}

.block-choice__item__nav {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding-bottom: 40px; 
}

.block-choice__item__nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-choice__item__nav__list {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #bababa;
  width: 14%;
  padding: 0 110px 40px 0;
  line-height: 1.5;
}

.block-choice__item__nav__list:hover { 
  color: #fff;
  cursor: pointer; 
}

.block-choice__item__nav__list a {
  text-decoration: underline;
  font-family: Yeseva One, sans-serif;
  font-size: 15px;
} 

.block-choice__item__slider {  
  position: relative;
  overflow: hidden;
  width: 90%;
  padding: 0;
  margin: 0;
}

.block-choice__item__slider img { 
  width: 97%;
}

.block-photos {
  background: linear-gradient(to bottom, #131313 50%, #fff 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  padding-top: 100px;
}

.block-photos__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  color: #fff;
  line-height: 1.7;
  font-size: 18px;
  
}

.block-photos__title h2 {
  font-family: Yeseva One, sans-serif;
}

.block-photos__title img {
  padding: 20px 0;
}

.block-photos__wrap {
  width: 73%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.block-photos__items {
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.block-photos__items:nth-child(1) {
  background: url(assets/images/pr-manager.png) no-repeat top;
}

.block-photos__items:nth-child(2) {
  background: url(assets/images/designer.png) no-repeat top;
}

.block-photos__items:nth-child(3) {
  background: url(assets/images/foreman.png) no-repeat top;
}

.block-photos__items img {
  margin: -17% 0 80% -270px;
}

.block-photos__items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #fff;
  padding-top: 20px;
  width: 82%;
}

.block-photos__items__item p:nth-child(1) {
  font: 400 20px Yeseva One;
}

.block-photos__items__item p:nth-child(2) {
  padding-top: 10px;
  font-size: 15px;
  color: #bababa;
}

.block-photos__items__item span {
  display: flex;
  background-color: #e3b873;
  color: #fff;
  padding: 15px;
  font: 400 12px Yeseva One;
  margin-top: 26px;
  width: 87%;
  justify-content: center;
}

.block-photos__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding-top: 50px;
  line-height: 2;
  font-size: 17px;
}

.block-photos__footer img {
  padding-bottom: 13px;  
}

.block-column-same {
  background: #fff;	
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  padding: 120px 0;
}

.block-column-same__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.block-column-same__title h2 {
  font-family: Yeseva One, sans-serif;
}

.block-column-same__title img {
  padding: 20px 0 30px 0;
}

.block-column-same__title p {
  font-size: 16px;
  line-height: 1.7;
}

.block-column-same__photo {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;
}

.block-column-same__photo__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #bababa;  
}  

.block-column-same__photo__item p {
  padding: 0 30px 0 25px; 
  font-size: 13px;
}

.block-column-same__photo__item > p {
  line-height: 2.5;
  padding-bottom: 70px;
}

.block-column-same__photo__item__img {
  display: flex;
  align-items: center; 
  padding-left: 25px;
  color: #000;
  height: 100px;
}

.block-column-same__photo__item__img p {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-size: 20px;
  font-family: Yeseva One, sans-serif;
}

.block-column-same__photo__item__footer {
  display: flex;
  width: 90%;
}

.block-column-same__photo__item__footer img {
  padding-right: 10px;
}

.block-column-same__photo__item__footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3b873;
  color: #fff;
  padding: 10px 25px 10px 15px;
  font: 400 17px Yeseva One;
  border: 1px solid #fff;
}

.block-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;  
  background: url(assets/images/block-question_img.png) no-repeat top/cover;
}

.block-question__form__wrap {
  background: #fff linear-gradient(to bottom, #fff 50%, #202020 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.block-question__form {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 65%;
}

.block-question__form h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
  font-family: Yeseva One, sans-serif;
  font-size: 20px;
}

.block-question__form__item__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.block-question__form__item__wrap div {
  display: flex;
  width: 40%;
}

.block-question__form__item {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 50px;
}

.block-question__form__item label {
  color: #bababa;
  font-size: 10px;
}

.block-question__form__item input[type="text"],
.block-question__form__item input[type="email"] {
  border: none;
  border-bottom: 1px solid #bababa;
  background-color: #131313;
  min-height: 30px;
}

.block-question__form__item input[type="text"]::-webkit-input-placeholder,
.block-question__form__item input[type="email"]::-webkit-input-placeholder {
  color: #fff;
}

.block-question__form__button {
  border: none;
  width: 23%;
  height: 57px;
  background-color: #e3b873;
  color: #fff;
  margin-bottom: 40px;
  font-size: 15px;
}

.block-question__form__item__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 60px 0;
  color: #fff;
}

.block-question__form__item__checkbox label {
  font-size: 14px;
  padding-left: 10px;
}

.block-question__p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e3b873;
  padding: 60px 0 30px 0;
  font-family: Yeseva One, sans-serif;
  line-height: 1.5;
}

.block-question__callback__p-mobile {
  display: none;
}

.block-question__svg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  padding-bottom: 45px;
}

.block-question__svg img:hover {
  cursor: pointer;
}

.block-question__map {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.block-question__map img:nth-child(1) {
  width: 68%;
  padding-bottom: 60px;
}

.block-question__map img:nth-child(2) {
  display: none;
}

.block-question__callback {
  display: none;
}

.block-footer {
  padding-left: 84px;
  padding-top: 50px;
  display: flex;
  min-height: 90px;
  align-items: baseline;
  background-color: #131313;
  font-family: FuturaDemiC, sans-serif;
}

.block-footer__logo {
  display: flex;
  width: 15%;
  color: #e3b873;
  text-align: center;
  font-size: 12px;
  flex-direction: row; 
}

.block-footer__logo:hover {
  color: #fdcb7a;
  cursor: pointer;
}

.block-footer__nav {
  display: flex;
  color: #fff;
  width: 53%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  flex-direction: row;
}

.block-footer__nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 0;
  justify-content: space-around;
}

.block-footer__nav__item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.block-footer__nav__item:hover {
  color: #e3b873;
  cursor: pointer;
}

.block-footer__tel {
  width: 10%;
  padding-left: 36px;
}

.block-footer__tel a{
  color: #e3b873;
  font-size: 12px;
}

.block-footer__button {
  min-height: 39px;
  display: flex;
  justify-content: space-around;
}

.block-footer__button input{
  border: none;
  width: 150px;
  height: 35px;
  background-color: #e3b873;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}

.block-footer__button input:hover {
  background-color: #fdcb7a;
}

@media (max-width: 375px) { 
  html,
  body {
    font: 200 15px Futura book;
    font-family: Futura book, sans-serif;
  }

  h2 {
    font-weight: normal;
  }
  
  .block-header {
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  .block-header__logo {
    width: 60%;
    font-size: 6px;
    align-items: center;
  }

  .block-header__nav {
    display: none;
  }

  .block-header__tel {
    width: 30%;
  }

  .block-header__tel a{
    color: #ffffff;
    font-size: 12px;
  }

  .block-header__button {
    display: none;
  }

  .block-app__instagram {
    display: none;
  }

  .block-app {
    height: 100%;
    padding-bottom: 50px;
	min-height: 0;
    padding-top: 16%;
  }

  .block-app__application {
    margin-top: 5%;
    margin-left: 5%;
    width: 80%;
  }

  .block-app__application p:nth-child(1),
  .block-app__application p:nth-child(2) {
    font-size: 23px;
  }

  .block-app__application p:nth-child(3) {
    margin: 20px 0 40px 0;
    font-size: 13px;
    line-height: 2rem;
    width: 78%;
  }

  .block-app__application__inputs {
    height: 140px;
    flex-direction: column;
  }

  .block-app__application__inputs input {
    font-size: 15px;
    height: 54px;
    width: 171%;
    border-radius: 0;
  }

  .block-app__application__inputs input:nth-child(2) {
    display: none;
  }

  .block-app__application__inputs input:last-child {
    display: flex;
    background: none;
    border: 1px solid #fff;
  }

  .block-app__application__inputs input:last-child:hover {
    background: #454542;
    border: none;
  }

  .block-scroll {
    display: none;
  }

  .block-next {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
  }

  .block-next__text__svg {
    padding-bottom: 20px;
  }

  .block-next__text__svg img {
    display: none;
  }

  .block-next__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 91%;
    padding: 0;
  }

  .block-next__text__first,
  .block-next__text__svg p:nth-child(1) {
    font-size: 20px;
    line-height: 1.5;
  }

  .block-next__text_slider-button {
    display: none;
  }

  .block-next__item__nav,
  .block-next__item__nav ul {
    display: none;
  }

  .block-next__text__last {   
    font-size: 12px;
    padding: 0 0 300px 0;
    line-height: 2;
    text-align: center;
    width: 88%;
  }

  .block-next__item {  
    position: absolute;
    padding: 0;
    margin: 0;
    top: 305px;
    left: 15px;
  }

  .block-next__item__slider {
    width: 143%;
	margin-top: -55px;
  }

  .block-next__item__slider__content {
	display: none;  
  }
  
  .block-next__item__slider-mob__content {
	display: flex;
	width: 95%;
  }
  
  .block-next__item__slider-mob__content img {
	width: 102%;
  }

  .block-next__text__list {
    width: 100%;
  }

  .block-next__text__list ul {
    align-content: space-between;    
  }

  .block-next__text__list__item {
    font-size: 12px;
    width: 50%;
    height: 104px;
    display: flex;
    flex-direction: column;
	line-height: 1.5;
  }
  
  .block-next__text__list__item p:nth-child(1) {
    font-size: 15px;
  }  
  
  .block-next__item__slider__block-svg {
    top: 45%;
	left: 3%;
	width: 91%;
  }
    
  .block-next__item__slider__block-svg img:nth-child(1),
  .block-next__item__slider__block-svg img:nth-child(2) {
    display: inline-block;  
  }

  .block-video {
    background: #131313;
    font-size: 15px;
  }
  
  .block-video__block-svg {
    padding: 20px 0;
  }
  
  .block-video__iframe-container {
    width: 90%;
    height: 100px;
  }
  
  .block-video__iframe-container iframe {
    padding-top: 0;
  }
  
  .block-form {
    background: linear-gradient(to bottom, #131313 90%, #fff 10%);
  }
  
  .block-form img {
    padding: 10px 0 20px 0;
  }
  
  .block-form p {
    font-size: 12px;
    color: #fff;
    width: 90%;
    padding-bottom: 20px;
  }
  
  .block-form__inputs {
    padding-top: 15px;
}
  
  .block-form__inputs__texts {
    position: relative;
    flex-direction: column;
    width: 90%;
  }
  
  .block-form__inputs__texts__item {
    width: 100%;
    height: 60px;
  }
  
  .block-form__inputs__texts__item:first-child {
    padding-bottom: 50px;
  }
  
  .block-form__inputs__texts__item label {
    font-size: 14px;
  }
  
  .block-form__inputs__texts input[type="text"] {
    border-bottom: 1px solid #fff;
    background-color: #131313;
    font-size: 17px;
    height: 35px;
  }
  
  .block-form__inputs__texts__item input[type="text"]::placeholder {
    color: #fff;
  }

  .block-form__inputs__button {
    position: absolute;
    width: 100%;
    height: 55px;
    top: 272px;
    font-size: 15px;
  }
  
  .block-form__inputs__checkbox {
    padding: 20px 0 150px 0;
    width: 90%;
  }
  
  .block-form__inputs__checkbox label {
    font-size: 15px;
    color: #fff;
  }
  
  .block-column {
	padding-bottom: 10px;
  }
  
  .block-column__title h2 {
	font-size: 23px;
  }
  
  .block-column__wrap { 
    flex-direction: column;
	width: 100%;
  }

  .block-column__item {
	width: 90%; 
	align-items: flex-start;
    padding-bottom: 40px;	
  }
  
  .block-column__item {
	min-height: 553px;
  } 
   
  .block-column__item__wrap {
    width: 84%; 
  }
  
  .block-column__item__wrap p {
    font-size: 18px;
}	

  .block-column__item__wrap span {
	padding: 15px 20px;
	font-size: 16px;
  }
  
  .block-column__item__list {
	font-size: 12px;
  }

  .block-high-img__choice p {
	font-size: 22px;
  }
  
  .block-circle-form {
	display: none;
  }

  .block-high-img {
	justify-content: center;
    align-items: center;	
	flex-direction: column;  
    background: #fff;
  }

  .block-high-img__choice {
    align-items: center;
	padding: 0 0 30px 0;
	width: 90%;
  }

  .block-high-img__choice_list,
  .block-high-img__images__second-col,
  .block-high-img__images__first-col {
	display: none;    
  }
  
  .block-high-img__images { 
    width: 100%;
	justify-content: center;
    align-items: center;	
	background: linear-gradient(to bottom, #fff 50%, #131313 50%);
	padding: 0;
  }
  
  .block-high-img__images__slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	width: 100%;
	position: relative;
  }
  
  .block-high-img__images__slider > img {
	width: 90%;
  }
  
  .block-high-img__images__slider__block-svg {
	position: absolute;
	display: flex;
    justify-content: space-between;
    align-items: center;
	top: 45%;
    left: 7%;
    width: 87%;
  }

  .block-high-img__images__slider__block-svg img:hover {
    cursor: pointer;
  }

  .block-column-diff {
	background: #131313; 
    padding-top: 60px;	
  }
  
  .block-column-diff__title {
	color: #fff;
}
  
  .block-column-diff__title p { 
    width: 77%;
    text-align: center;
    font-size: 13px;
  }
  
  .block-column-diff__wrap {
	flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 90%;	
  }

  .block-column-diff__item {
	width: 100%;
	padding: 76% 0 20% 0;
  }
  
  .block-column-diff__item span {
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding-left: 0
  }

  .block-column-diff__item__wrap {
	width: 85%;
	margin-left: 0;
  }
  
  .block-column-diff__last-item {
	display: none;  
  }
  
  .block-choice {
	display: none;
  }
  
  .block-photos {
	background: #131313;
	padding-top: 0;
  }
  
  .block-photos__wrap {
	flex-direction: column;
	align-items: center;
    justify-content: center;
  }
  
  .block-photos__title {
	padding-bottom: 80px;
  }

  .block-photos__title p {
	font-size: 13px;
  }

  .block-photos__items {
	width: 100%;
	padding-bottom: 30%;
  }

  .block-photos__items img {
    margin: -17% 0 77% -270px;
  }

  .block-photos__footer,
  .block-column-same {
	display: none;  
  }

  .block-question__form {
	width: 100%;  
	padding-top: 0;
  }
  .block-question {
    background: #131313;
  }
  
  .block-question__form p {
	font-size: 30px;  
  }
  
  .block-question__form__item {
	width: 90%;
  }
  
  .block-question__form__item__wrap {
	justify-content: center;
    flex-direction: column;
    width: 90%;
  }
  
  .block-question__form__item__wrap div {
	width: 100%;
  }
  
  .block-question__form__item__checkbox {
	width: 90%;
	justify-content: flex-start;
	padding: 20px 0 60px 0;
  }
  
  .block-question__form__item label {
	font-size: 13px;  
  }
  
  .block-question__form__item__checkbox label,
  .block-question__form__item input[type="text"]::-webkit-input-placeholder,
  .block-question__form__item input[type="email"]::-webkit-input-placeholder {
	font-size: 15px;
  }
  
  .block-question__form__item input[type="text"],
  .block-question__form__item input[type="email"] {
	height: 30px;  
  }
  
  .block-question__form__button {
	width: 90%;
    height: 50px;
	font-size: 15px;
  }
  
  .block-question__p,
  .block-question__svg  {
	display: none;
  }
  
  .block-question__map img:nth-child(1) {
    display: none;
  }
  
  .block-question__map img:nth-child(2) {
	display: block;  
    width: 100%;
  }	
  
  .block-question__callback {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
  
  .block-question__callback__p-desktop {
	display: none;
  }
  
  .block-question__callback__p-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e3b873;
    padding-bottom: 20px;
	font-family: Yeseva One, sans-serif;
	line-height: 1.5;
	font-size: 17px;
  }
  
  .block-question__callback__svg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    padding-bottom: 20px;
  }  
  
  .block-question__callback__svg img {
    cursor: pointer;
  }
  
  .block-footer {
    display: none;
  }
}


@font-face {
  font-family: 'Yeseva One';
  src: local('Yeseva One'), local('YesevaOne'), url('assets/fonts/yesevaone.woff2') format('woff2'), url('assets/fonts/yesevaone.woff') format('woff'), url('assets/fonts/yesevaone.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura book';
  src: url('assets/fonts/Futurabook.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url('assets/fonts/FuturaDemiC.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
